.idea
__pycache__
rethinkdb_data/
minimalClient.js
minimalFlaskIO.py
node_modules/
demo-app/package-lock.json
package-lock.json
demo-app/*.json
*.swp
*.swo
*.deb*
*.log
*.pkl
/venv/
Juice_Shop_Source/*
