:root {
  --main-bg-color: #282828;
  --item-bg-color: #3b5c6d;
  --item-bg-color-light: #8f9995;
  "--main-bg-color: #282828;"
  "--item-bg-color: #889188;"
  --border-color: #a2a9a2;
}

.App {
  background-color: var(--main-bg-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 1.5vmin);
  color: #f9f5d7;    
}

.App-header {
  grid-area: header;
  background-color: var(--item-bg-color);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #f9f5d7;    
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 3px solid var(--border-color);
}

.App-link {
  color: #61dafb;
}

$admin-header-height: 10px;
$admin-footer-height: 70px;
$admin-nav-width: 250px;

.main {
  display: grid; 
  height: 100vh;

  grid-template-rows: 10px 1fr 70px; 
  grid-template-columns: 100px 1fr;
  grid-template-areas: "header  header" 
                        "nav  main"
                        "footer footer";
}

.navigation {
  grid-area: nav;
}

.dashboard {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  grid-area: main;
  --column-count: 3;
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  grid-gap: 1rem;
}

.item {
  background-color: var(--item-bg-color);
  border: 3px solid var(--border-color);
}

.item-status {
  grid-column: 1/4;
  background-color: var(--item-bg-color);
  border: 3px solid var(--border-color);
}

.item-plot {
  background-color: var(--item-bg-color-light);
  border: 3px solid var(--border-color);
}

.slider {
  margin-top: 45px;
  margin-bottom: 45px
}

.info {
  margin-top: 45px;
}

.title {
  margin-top: 25px;
  margin-bottom: 25px;
}
