.ids-plot { 
  margin-top: 45px;
  background-color: var(--item-bg-color-light);
}
.syscall-plot { 
  margin-top: 45px;
  background-color: var(--item-bg-color-light);
}          
.dist-plot {
  margin-top: 45px;
  background-color: var(--item-bg-color-light);
}
