.ids-plot { 
  background-color: var(--item-bg-color-light);
}
.syscall-plot { 
   background-color: var(--item-bg-color-light);
}          
.dist-plot {
   background-color: var(--item-bg-color-light);
}
