.title {
  text-align: center;
}

.incident {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.incident td, .incident th {
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

.incident tr:first-child:hover {background-color: var(--item-bg-color);}
.incident tr:hover {background-color: #470a0a;}

.incident th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

