.table-container{
  height: 24em; 
  width: 100%;
}
.incident {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.incident thead {
  margin-left: auto;
  margin-right: auto;
}
.incident tbody {
  flex: 1 1 auto;
  display: block;
  height: 200px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
}
.incident tbody tr {
  width: 100%;
}
.incident thead, tbody tr {
  display: block;
  table-layout: fixed;
}

/* Decorations */
.incident td, .incident th {
  padding: 0.4em;
}
.incident tr:first-child:hover {
  background-color: var(--item-bg-color);
}
.incident tr:hover {
  background-color: #470a0a;
}
.incident th {
  padding-top: 12px;
  padding-bottom: 12px;
}


