button {
    margin-top:1em;
    margin-bottom: 1em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.button-basic {
    background-color: var(--main-bg-color);
    border: none;
    color: #f9f5d7;
    padding: 15px 32px;
    text-align: center;
}
.button-basic:hover {
    background-color: #470a0a;
}
.user-input {
    margin-top: 20px;
}
.user-action-input {
    margin-top: 20px;
    margin-bottom: 20px;
}
.user-logout {
    color: #470a0a;
}
